@model CECBTIMS.Models.TimsFile

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-8 mx-auto mb-lg-5">
    <div class="card border-primary mb-3">
        <div class="card-header">File Delete</div>
        <div class="card-body">
            <div class="container pt-2 pb-4">

                <h4 class="mb-4">You are about to delete the following file. Are you sure?</h4>
                
                @using (Html.BeginForm($"Delete", $"Files", null, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
                        <input type="text" class="form-control" value="@(Model.Title)" readonly="readonly"/>
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="OriginalFileName">Original File Name</label>
                        <input type="text" class="form-control" value="@(Model.OriginalFileName)" readonly="readonly"/>
                        @Html.ValidationMessageFor(model => model.OriginalFileName, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group float-right">
                        <input type="submit" value="Delete" class="btn btn-danger"/>
                    </div>
                }

                @ViewBag.Message
            </div>
        </div>
    </div>
</div>
