@using CECBTIMS.Models.Enums
@model CECBTIMS.Models.TimsFile

@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-8 mx-auto mb-lg-5">
    <div class="card border-primary mb-3">
        <div class="card-header">
            File Upload -

            @if (ViewBag.ProgramId == null)
            {
                <span>Document Template</span>
            }
            else
            {
                <span>Program Brochure</span>
            }

        </div>
        <div class="card-body">
            <div class="container pt-4 pb-4">
                @using (Html.BeginForm($"Upload", $"Files", null, FormMethod.Post, new {enctype = "multipart/form-data"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                    <input type="hidden" id="programId" name="programId" value="@(ViewBag.ProgramId)">
                    <div class="form-group">
                        <label for="title">File Title</label>
                        <input type="text" class="form-control" id="title" name="title">
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>

                     if (ViewBag.ProgramId == null)
                     {
                         <div class="form-group">
                             <label for="">Program Type</label>
                             @Html.DropDownList("programType", EnumHelper.GetSelectList(typeof(ProgramType)), "Select a Program Type", new { @class = "custom-select" })
                             @Html.ValidationMessageFor(model => model.ProgramType, "", new { @class = "text-danger" })
                         </div>
                     }
                    <input type="hidden" id="details" name="details" value="@(ViewBag.Details)">

                    <div class="form-group">
                        <label for="FileInput">Select a File</label>
                        <input type="file" class="form-control-file" id="FileInput" name="file" aria-describedby="fileHelp">
                        <small id="fileHelp" class="form-text text-muted">Only Pdf, Docx, Doc, PNG, JPG and JPEG are allowed</small>
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" value="Upload" class="btn btn-primary"/>
                    </div>
                }
                
                @ViewBag.Message
            </div>
        </div>
    </div>
</div>