@using Microsoft.Ajax.Utilities
@model IEnumerable<CECBTIMS.Models.ApplicationUser>

@{
    ViewBag.Title = "User Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-9 mx-auto mb-lg-5">
    <div class="card border-primary mb-3">
        <div class="card-header">
            <div class="float-left">
                <h5>User Account Manager</h5>
            </div>
            <div class="float-right">
                @if (User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("New User", $"Create", null, new {@class = "btn btn-secondary"})
                }
            </div>
        </div>
        <div class="card-body">

            @Html.Partial($"~/Views/Shared/_Alerts.cshtml")

            <table class="table table-bordered">
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.UserName
                            @if (item.LockoutEnabled)
                            {
                                <span class="badge badge-danger ml-sm-1">Locked</span>
                            }
                        </td>
                        <td>@item.Email</td>
                        <td style="width: 35%">
                            @if (User.IsInRole("User"))
                            {
                                @Html.ActionLink("Edit Password", $"Edit", new {id = item.Id}, new {@class = "btn btn-sm btn-secondary"})
                            }
                            @if (User.IsInRole("Administrator"))
                            {
                                @Html.ActionLink("Reset Password", $"ResetPassword", new {id = item.Id}, new {@class = "btn btn-sm btn-primary mr-sm-1"})
                                if (item.LockoutEnabled)
                                {
                                    using (Html.BeginForm($"Unlock", $"Account", null,
                                        FormMethod.Post, new {@class = "d-inline-block"}))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="id" value="@item.Id"/>
                                        <input type="submit" value="Unlock" class="btn btn-warning btn-sm mr-sm-1 d-inline-block"/>
                                    }
                                }
                                else
                                {

                                    using (Html.BeginForm($"Lock", $"Account", null,
                                        FormMethod.Post, new {@class = "d-inline-block"}))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="id" value="@item.Id"/>
                                        <input type="submit" value="Lock" class="btn btn-warning btn-sm mr-sm-1 d-inline-block"/>
                                    }

                                }
                                @Html.ActionLink("Remove", $"Delete", new {id = item.Id}, new {@class = "btn btn-sm btn-danger"})
                            }

                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>