@model CECBTIMS.Models.Program

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-10 mx-auto">
<div class="card">
    <div class="card-header">
        <h4 class="float-left">
            Delete Program
        </h4>
    </div>

    <div class="card-body">
        <p class="text-danger">
            You are about to Delete a Training program. this is can't be undone and it will delete all the data related to the program.
        </p>
        <table class="table table-bordered">
            <tr>
                <th style="width: 25%">@Html.DisplayNameFor(model => model.Title)</th>
                <td>@Html.DisplayFor(model => model.Title)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.StartDate)</th>
                <td>@Html.DisplayFor(model => model.StartDate)</td>
            </tr>            
            <tr>
                <th>@Html.DisplayNameFor(model => model.ApplicationClosingDate)</th>
                <td>@Html.DisplayFor(model => model.ApplicationClosingDate)</td>
            </tr>            
            <tr>
                <th>@Html.DisplayNameFor(model => model.ProgramType)</th>
                <td>@Html.DisplayFor(model => model.ProgramType)</td>
            </tr>
        </table>
        
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-danger"/>
                @Html.ActionLink("Cancel", $"Details",$"Programs",new{id=Model.Id}, new{ @class = "btn btn-outline-primary" })
            </div>
        }

    </div>
    </div>
</div>