@model CECBTIMS.Models.Program

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
<div class="row">
<div class="col-md-3">

    <div class="card">
        <div class="card-body">
            <a href="@Url.Action($"Index", $"Programs")" class="btn btn-outline-secondary btn-block">
                <span class="fa fa-arrow-left mr-sm-1" aria-hidden="true"></span>
                Back to List
            </a>

            <a href="@Url.Action($"Create", $"Programs", new {id = Model.Id})" class="btn btn-primary btn-block">
                <span class="fa fa-plus mr-sm-1" aria-hidden="true"></span>
                New
            </a>

            <a href="@Url.Action($"Edit", $"Programs", new {id = Model.Id})" class="btn btn-primary btn-block">
                <span class="fa fa-pencil mr-sm-1" aria-hidden="true"></span>
                Edit
            </a>

            <a href="@Url.Action($"Delete", $"Employees", new {programId = Model.Id})" class="btn btn-danger btn-block">
                <span class="fa fa-trash mr-sm-1" aria-hidden="true"></span>
                Delete
            </a>

            <a href="@Url.Action($"Index", $"Employees", new {programId = Model.Id})" class="btn btn-primary btn-block">
                <span class="fa fa-user mr-sm-1" aria-hidden="true"></span>
                Employees
            </a>

            <a href="@Url.Action($"Index", $"Employees", new {programId = Model.Id})" class="btn btn-primary btn-block">
                <span class="fa fa-refresh mr-sm-1" aria-hidden="true"></span>
                Circulate
            </a>

            <a href="@Url.Action($"Index", $"Documents", new {programId = Model.Id})" class="btn btn-primary btn-block">
                <span class="fa fa-file mr-sm-1" aria-hidden="true"></span>
                Documents
            </a>
            @* <a href="@Url.Action($"Index", $"Employees", new {programId = Model.Id})" class="btn btn-primary btn-block"> *@
            @*     <span class="fa fa-file-pdf-o mr-sm-1" aria-hidden="true"></span> *@
            @*     Reports *@
            @* </a> *@
        </div>
    </div>

</div>

<div class="col-md-9">
<div class="card">
<div class="card-body">
<table class="table table-bordered">
<tr>
    <th class="w-25"></th>
    <th class="w-25"></th>
    <th class="w-25"></th>
    <th class="w-25"></th>
</tr>
<tr>
    <th colspan="1">Program Title</th>
    <td colspan="3">@Html.DisplayFor(model => model.Title)</td>
</tr>
<tr>
    <th colspan="1">Start Date</th>
    <td colspan="3">@Html.DisplayFor(model => model.StartDate)</td>
</tr>
<tr>
    <th colspan="1">Start Time</th>
    <td colspan="1">@Html.DisplayFor(model => model.StartTime)</td>
    <th colspan="1">End Time</th>
    <td colspan="1">@Html.DisplayFor(model => model.EndTime)</td>
</tr>
<tr>
    <th colspan="1">@Html.DisplayNameFor(model => model.ApplicationClosingDate)</th>
    <td colspan="1">@Html.DisplayFor(model => model.ApplicationClosingDate)</td>
    <th colspan="1">@Html.DisplayNameFor(model => model.ApplicationClosingTime)</th>
    <td colspan="1">@Html.DisplayFor(model => model.ApplicationClosingTime)</td>
</tr>
@if (Model.ProgramType.ToString() == "Foreign")
{
    <tr>
        <th colspan="1">@Html.DisplayNameFor(model => model.NotifiedBy)</th>
        <td colspan="1">@Html.DisplayFor(model => model.NotifiedBy)</td>
        <th colspan="1">@Html.DisplayNameFor(model => model.NotifiedOn)</th>
        <td colspan="1">@Html.DisplayFor(model => model.NotifiedOn)</td>
    </tr>
}
@if (Model.ProgramType.ToString() == "Foreign")
{
    <tr>
        <th colspan="1">
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <td colspan="3">
            @Html.DisplayFor(model => model.EndDate)
        </td>
    </tr>
}
<tr>
    <th colspan="1">Organised By</th>
    <td colspan="3">
        <p>
            @Html.DisplayFor(model => model.Organizer.Name)
        </p>
        @if (Model.Organizer != null)
        {
            using (Html.BeginForm($"RemoveOrg", $"Programs", null,
                FormMethod.Post, new {@class = "d-inline-block"}))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="programId" value="@Model.Id"/>
                <input type="submit" value="Remove Organiser" class="btn btn-danger btn-sm d-inline-block"/>
            }
        }
        else
        {
            @Html.ActionLink("Add an Organiser", $"Index", $"Organizers", new {programId = Model.Id, programTitle = Model.Title}, new {@class = "btn btn-sm  btn-link"})
            ;
        }
    </td>
</tr>
@if (Model.ProgramType.ToString() == "InHouse")
{
    <tr>
        <th colspan="1">Program Agendas</th>
        <td colspan="3">

            @if (Model.Agendas.Count > 0)
            {
                <table class="table table-bordered">
                    <tr>
                        <th>Title</th>
                        <th>From</th>
                        <th>To</th>
                        <th style="width: 22%"></th>
                    </tr>
                    @foreach (var item in Model.Agendas)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => item.Name)</td>
                            <td>@Html.DisplayFor(model => item.From)</td>
                            <td>@Html.DisplayFor(model => item.To)</td>
                            <td>
                                @Html.ActionLink("Edit", $"Edit", $"Agenda", new {id = item.Id, programTitle = Model.Title, programId = Model.Id}, new {@class = "btn btn-warning btn-sm d-inline-block"})

                                @using (Html.BeginForm($"Delete", $"Agenda", "",
                                    FormMethod.Post, new {@class = "d-inline-block"}))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@item.Id"/>
                                    <input type="hidden" name="programId" value="@Model.Id"/>
                                    <input type="submit" value="Remove" class="btn btn-danger btn-sm d-inline-block"/>
                                }
                            </td>
                        </tr>
                    }
                </table>
            }

            @Html.ActionLink("Add an agenda", $"Create", $"Agenda", new {programId = Model.Id, programTitle = Model.Title}, new {@class = "btn btn-sm  btn-link"})
        </td>
    </tr>
}

<tr>
    <th colspan="1">Target Group(s)</th>
    <td colspan="3">
        @if (Model.TargetGroups.Count > 0)
        {
            <table class="table table-bordered">
                @foreach (var item in Model.TargetGroups)
                {
                    <tr>
                        <td class="w-75">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="w-25">
                            @Html.ActionLink("Edit", "Edit", "TargetGroups", new {id = item.Id}, new {@class = "btn btn-warning btn-sm d-inline-block"})
                            @using (Html.BeginForm($"Delete", $"TargetGroups", "",
                                FormMethod.Post, new {@class = "d-inline-block"}))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@item.Id"/>
                                <input type="hidden" name="ProgramId" value="@Model.Id"/>
                                <input type="submit" value="Remove" class="btn btn-danger btn-sm d-inline-block"/>
                            }
                        </td>
                    </tr>
                }
            </table>
        }

        @Html.ActionLink("Add a Target Group", "Create", "TargetGroups", new {programId = Model.Id, title = Model.Title}, new {@class = "btn btn-sm  btn-link"})
    </td>
</tr>

@if (Model.ProgramType.ToString() != "PostGraduation")
{
    <tr>
        <th colspan="1">Employment Category</th>
        <td colspan="3">
            @if (Model.EmploymentCategories != null)
            {
                <table class="table table-bordered">
                    @foreach (var item in Model.EmploymentCategories)
                    {
                        <tr>
                            <td class="w-75">@item.EmpCategory</td>
                            <td class="w-25">
                                @using (Html.BeginForm($"Delete", $"Categories", "",
                                    FormMethod.Post, new {@class = "d-inline-block"}))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@item.Id"/>
                                    <input type="hidden" name="ProgramId" value="@Model.Id"/>
                                    <input type="submit" value="Remove" class="btn btn-danger btn-sm d-inline-block"/>
                                }
                            </td>
                        </tr>
                    }
                </table>
            }

            @Html.ActionLink("Add an Employment Category", $"Create", $"Categories", new {programId = Model.Id, title = Model.Title}, new {@class = "btn btn-sm  btn-link"})
        </td>
    </tr>
    <tr>
        <th colspan="1">Employment Nature</th>
        <td colspan="3">
            @if (Model.EmploymentNatures != null)
            {
                <table class="table table-bordered">
                    @foreach (var item in Model.EmploymentNatures)
                    {
                        <tr>
                            <td class="w-75">@item.EmpNature</td>
                            <td class="w-25">
                                @using (Html.BeginForm($"Delete", $"Natures", "",
                                    FormMethod.Post, new {@class = "d-inline-block"}))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@item.Id"/>
                                    <input type="hidden" name="ProgramId" value="@Model.Id"/>
                                    <input type="submit" value="Remove" class="btn btn-danger btn-sm d-inline-block"/>
                                }
                            </td>
                        </tr>
                    }
                </table>
            }
            @Html.ActionLink("Add an Employment Nature", $"Create", $"Natures", new {programId = Model.Id, title = Model.Title}, new {@class = "btn btn-sm  btn-link"})
        </td>
    </tr>
}


@if (Model.ProgramType.ToString() == "InHouse")
{
    <tr>
        <th colspan="1">Resource Persons</th>
        <td colspan="3">
            @if (Model.ResourcePersons.Count > 0)
            {
                <table class="table table-bordered">
                    <tr>
                        <th class="w-25">Name</th>
                        <th class="w-25">Designation</th>
                        <th class="w-25">Cost</th>
                        <th class="w-25"></th>
                    </tr>
                    @foreach (var item in Model.ResourcePersons)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => item.Name)</td>
                            <td>@Html.DisplayFor(model => item.Designation)</td>
                            <td>@Html.DisplayFor(model => item.Cost)</td>
                            <th>
                                @Html.ActionLink("Edit",
                                    $"Edit", $"ResourcePersons", new {id = item.Id, programId = Model.Id, programTitle = Model.Title}, new {@class = "btn btn-warning btn-sm"})

                                @using (Html.BeginForm($"Delete", $"ResourcePersons", "",
                                    FormMethod.Post, new {@class = "d-inline-block"}))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@item.Id"/>
                                    <input type="hidden" name="ProgramId" value="@Model.Id"/>
                                    <input type="submit" value="Remove" class="btn btn-danger btn-sm d-inline-block"/>
                                }
                            </th>

                        </tr>
                    }
                </table>
            }

            @Html.ActionLink("Add a resource Person", $"Create", $"ResourcePersons", new {programId = Model.Id, programTitle = Model.Title}, new {@class = "btn btn-sm  btn-link"})
        </td>
    </tr>
}

@if (Model.ProgramType.ToString() == "PostGraduation")
{
    <tr>
        <th colspan="1">@Html.DisplayNameFor(model => model.Department)</th>
        <td colspan="3">@Html.DisplayFor(model => model.Department)</td>
    </tr>
}


@if (Model.ProgramType.ToString() == "PostGraduation")
{
    <tr>
        <th colspan="1">Requirements</th>
        <td colspan="3">

            @if (Model.Requirements.Count > 0)
            {
                <table class="table table-bordered">
                    @foreach (var item in Model.Requirements)
                    {
                        <tr>
                            <td class="w-75">@Html.DisplayFor(model => item.Name)</td>
                            <td class="w-25">
                                @using (Html.BeginForm($"Delete", $"Requirements", "",
                                    FormMethod.Post, new {@class = "d-inline-block"}))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@item.Id"/>
                                    <input type="hidden" name="ProgramId" value="@Model.Id"/>
                                    <input type="submit" value="Remove" class="btn btn-danger btn-sm d-inline-block"/>
                                }
                            </td>
                        </tr>
                    }

                </table>
            }

            @Html.ActionLink("Add a Requirement", $"Create", $"Requirements", new {programId = Model.Id, programTitle = Model.Title}, new {@class = "btn btn-sm  btn-link"})
        </td>
    </tr>
}
@if (Model.ProgramType.ToString() != "PostGraduation")
{
    <tr>
        <th colspan="1">@Html.DisplayNameFor(model => model.Venue)</th>
        <td colspan="3">@Html.DisplayFor(model => model.Venue)</td>
    </tr>
}
@if (Model.ProgramType.ToString() == "Foreign" || Model.ProgramType.ToString() == "Local")
{
    <tr>
        <th colspan="1">@Html.DisplayNameFor(model => model.DurationInDays)</th>
        <td colspan="3">@Html.DisplayFor(model => model.DurationInDays)</td>
    </tr>
}

@if (Model.ProgramType.ToString() == "Foreign" || Model.ProgramType.ToString() == "PostGraduation" || Model.ProgramType.ToString() == "Local")
{
    <tr>
        <th colspan="1">@Html.DisplayNameFor(model => model.DurationInMonths)</th>
        <td colspan="3">@Html.DisplayFor(model => model.DurationInMonths)</td>
    </tr>
}

@if (Model.ProgramType.ToString() == "Local" || Model.ProgramType.ToString() == "InHouse")
{
    <tr>
        <th colspan="1">@Html.DisplayNameFor(model => model.ProgramHours)</th>
        <td colspan="3">@Html.DisplayFor(model => model.ProgramHours)</td>
    </tr>
}


@if (Model.ProgramType.ToString() == "Foreign")
{
    <tr>
        <th colspan="1">@Html.DisplayNameFor(model => model.Currency)</th>
        <td colspan="3">@Html.DisplayFor(model => model.Currency)</td>
    </tr>
}

@if (Model.ProgramType.ToString() == "Foreign" || Model.ProgramType.ToString() == "PostGraduation" || Model.ProgramType.ToString() == "Local")
{
    <tr>
        <th colspan="1">@Html.DisplayNameFor(model => model.ProgramFee)</th>
        <td colspan="3">@Html.DisplayFor(model => model.ProgramFee)</td>
    </tr>
}

@if (Model.ProgramType.ToString() == "PostGraduation")
{
    <tr>
        <th colspan="1">@Html.DisplayNameFor(model => model.RegistrationFee)</th>
        <td colspan="3">@Html.DisplayFor(model => model.RegistrationFee)</td>
    </tr>
}
@if (Model.ProgramType.ToString() == "InHouse")
{
    <tr>
        <th colspan="1">@Html.DisplayNameFor(model => model.PerPersonFee)</th>
        <td colspan="3">@Html.DisplayFor(model => model.PerPersonFee)</td>
    </tr>
}
@if (Model.ProgramType.ToString() == "InHouse")
{
    <tr>
        <th colspan="1">@Html.DisplayNameFor(model => model.NoShowFee)</th>
        <td colspan="3">@Html.DisplayFor(model => model.NoShowFee)</td>
    </tr>
}

@if (Model.ProgramType.ToString() == "Local")
{
    <tr>
        <th colspan="1">@Html.DisplayNameFor(model => model.MemberFee)</th>
        <td colspan="1">@Html.DisplayFor(model => model.MemberFee)</td>
        <th colspan="1">@Html.DisplayNameFor(model => model.NonMemberFee)</th>
        <td colspan="1">@Html.DisplayFor(model => model.NonMemberFee)</td>
    </tr>
    <tr>
        <th colspan="1">@Html.DisplayNameFor(model => model.StudentFee)</th>
        <td colspan="3">@Html.DisplayFor(model => model.StudentFee)</td>
    </tr>
}

<tr>
    <th colspan="1">Other Costs and Fees</th>
    <td colspan="3">
        @if (Model.Costs.Count > 0)
        {
            <table class="table table-bordered">
                <tr>
                    <th class="w-50">Cost/Fee Name</th>
                    <th class="w-25">Value</th>
                    <th class="w-25"></th>
                </tr>
                @foreach (var item in Model.Costs)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Value)
                        </td>
                        <td>
                            @Html.ActionLink("Edit",
                                $"Edit", $"Costs", new {id = item.Id, programId = Model.Id}, new {@class = "btn btn-warning btn-sm"})


                            @using (Html.BeginForm($"Delete", $"Costs", "",
                                FormMethod.Post, new {@class = "d-inline-block"}))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@item.Id"/>
                                <input type="hidden" name="ProgramId" value="@Model.Id"/>
                                <input type="submit" value="Remove" class="btn btn-danger btn-sm d-inline-block"/>
                            }
                        </td>
                    </tr>
                }
            </table>
        }
        @Html.ActionLink("Add a Cost or a Fee", $"Create", $"Costs", new {programId = Model.Id, programTitle = Model.Title}, new {@class = "btn btn-sm btn-link"})
    </td>
</tr>
<tr>
    <th colspan="1">Program Brochure</th>
    <td colspan="3">
        @if (Model.Brochure.Any())
        {
        <table class="table table-bordered">
            @foreach (var item in Model.Brochure)
            {
                <td>
                    @Html.DisplayFor(model => item.Title)
                </td>
                <td>
                    @Html.ActionLink("View", $"Details", $"Brochures", new{id = item.Id},new {@class = "btn btn-sm btn-link"})
                </td>
            }
        </table>
        }
        @Html.ActionLink("Add a Brochure", $"Create", $"Brochures", new{ programId = Model.Id},new {@class = "btn btn-sm btn-link"})
    </td>
</tr>
<tr>
    <th colspan="1">@Html.DisplayNameFor(model => model.CreatedAt)</th>
    <td colspan="1">@Html.DisplayFor(model => model.CreatedAt)</td>
    <th colspan="1">@Html.DisplayNameFor(model => model.UpdatedAt)</th>
    <td colspan="1">@Html.DisplayFor(model => model.UpdatedAt)</td>
</tr>
<tr>
    <th colspan="1">@Html.DisplayNameFor(model => model.CreatedBy)</th>
    <td colspan="1">@Html.DisplayFor(model => model.CreatedBy)</td>
    <th colspan="1">@Html.DisplayNameFor(model => model.UpdatedBy)</th>
    <td colspan="1">@Html.DisplayFor(model => model.UpdatedBy)</td>
</tr>
</table>
</div>
</div>
</div>
</div>
</div>