@model IEnumerable<CECBTIMS.Models.Program>

@{
    ViewBag.Title = "Training Programs";
}

<div class="col-9 mx-auto mb-lg-5">
    <div class="card border-primary mb-3">
        <div class="card-header">
            <div class="float-left">
                <h5>Training Program Finder</h5>
            </div>
            <div class="float-right">
                @Html.ActionLink("Index", "Index", null, new { @class = "btn btn-primary" })
                @Html.ActionLink("New Program", "Create", null, new { @class = "btn btn-primary" })
            </div>
        </div>
        <div class="card-body">
            <div class="container pt-4 pb-4">
                @using (Html.BeginForm($"Find", $"Programs", null, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group d-inline-block search-by-container">
                        <label class="mr-4 search-by" style="">Search By :</label>
                    </div>
                    <div class="form-group d-inline-block">
                        <div class="custom-control custom-radio d-inline-block mr-2">
                            <input type="radio" id="titleRadio" name="searchMethod" class="custom-control-input" value="Title" checked="checked">
                            <label class="custom-control-label" for="titleRadio">Title</label>
                            <small id="emailHelp" class="form-text text-muted">&nbsp;</small>
                        </div>
                        <div class="custom-control custom-radio d-inline-block mr-2">
                            <input type="radio" id="orgRadio" name="searchMethod" class="custom-control-input" value="Organiser">
                            <label class="custom-control-label" for="orgRadio">Organiser</label>
                            <small id="emailHelp" class="form-text text-muted">&nbsp;</small>
                        </div>
                        <div class="custom-control custom-radio d-inline-block mr-2">
                            <input type="radio" id="closingDateRadio" name="searchMethod" class="custom-control-input" value="ApplicationClosingDate">
                            <label class="custom-control-label" for="closingDateRadio">Application Closing Date</label>
                            <small id="emailHelp" class="form-text text-muted">yyyy-mm-dd</small>
                        </div>
                        <div class="custom-control custom-radio d-inline-block mr-2">
                            <input type="radio" id="startDateRadio" name="searchMethod" value="StartDate" class="custom-control-input">
                            <label class="custom-control-label" for="startDateRadio">Start Date</label>
                            <small id="emailHelp" class="form-text text-muted">yyyy-mm-dd</small>
                        </div>
                        <div class="custom-control custom-radio d-inline-block mr-2">
                            <input type="radio" id="createdOnRadio" name="searchMethod" value="CreatedOn" class="custom-control-input">
                            <label class="custom-control-label" for="createdOnRadio">Created On</label>
                            <small id="emailHelp" class="form-text text-muted">yyyy-mm-dd</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Program Type : </label>
                        <select class="custom-select" name="programType">
                            <option value="All">All</option>
                            <option value="LocalProgram">Local Program</option>
                            <option value="ForeignProgram">Foreign Program</option>
                            <option value="PostGradProgram">Post Graduation Program</option>
                            <option value="InHouseProgram">In House Program</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Search Value :</label>
                        <input type="text" name="searchString" class="form-control" />
                    </div>

                    <div class="form-group float-right">
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<div class="col-9 mx-auto">
    @if (Model != null)
    {
        <div class="card border-primary">
            <div class="card-header">Search Results</div>
            <div class="card-body">

                @if (Model.Any())
                    {
                        <div class="alert alert-dismissible alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>@Model.Count() </strong>results Found.
                        </div>

                        <table class="table table-bordered">
                            <tr>
                                <th class="w-50">Title</th>
                                <th class="w-25">Application Closing Date</th>
                                <th class="w-25">Start Date</th>
                            </tr>
                            
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><a href="/Programs/Details/@(item.Id)">@item.Title</a></td>
                                    <td>@item.ApplicationClosingDate.ToString("d")</td>
                                    <td>@item.StartDate.ToString("d")</td>
                                </tr>
                            }

                        </table>

                     
                    }
                    else
                    {
                        <div class="alert alert-dismissible alert-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <h4 class="alert-heading">Oops!</h4>
                            <p class="mb-0">No results Found.</p>
                        </div>
                    }
            </div>
        </div>
    }

</div>