<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TIMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body  style="background: #eee;">

@if (Request.IsAuthenticated)
{
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            @Html.ActionLink("CECB - TIMS", $"Index", $"Home", new {area = ""}, new {@class = "navbar-brand"})
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @* @Html.ActionLink("Home", "Index", "Home", new {@class = "nav-link"}) *@
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Programs", $"Index", $"Programs", null, new {@class = "nav-link"})
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Program Organizers", $"Index", $"Organizers", null, new {@class = "nav-link"})
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Employees", $"Index", $"Employees", null, new {@class = "nav-link"})
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Templates", $"Index", $"Templates", null, new {@class = "nav-link"})
                    </li>
                    @* <li class="nav-item"> *@
                    @*     @Html.ActionLink("Documents", $"Index", $"Documents", null, new {@class = "nav-link"}) *@
                    @* </li> *@

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
}
<div class="container body-content">
    @RenderBody()
  
    <footer class="text-center mt-5 pb-3">
        <p>&copy; @DateTime.Now.Year - CECB - Training Information Management System. Made with <i class="fa fa-heart"></i> by <a href="//github.com/chamodyawimansha/" target="_blank">CW</a></p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

</body>
</html>
