@using CECBTIMS.Models.Enums
@model CECBTIMS.Models.EmploymentCategory

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-8 mx-auto mb-lg-5">
    <div class="card border-primary mb-3">
        <div class="card-header">Add Employment Category</div>
        <div class="card-body">
            <div class="container pt-4 pb-4">
                
                @using (Html.BeginForm()) 
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                    <input type="hidden" name="ProgramId" value="@(ViewBag.ProgramId)"/>

                    <div class="form-group">
                        <label for="">Employment Category</label>
                        @Html.DropDownList("EmpCategory", EnumHelper.GetSelectList(typeof(EmployeeCategory)) , "Select a employment Category", new { @class = "custom-select" })
          
                        @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
                    </div>
                    
                    <div class="form-group float-right">
                        @Html.ActionLink("Back", $"Details", $"Programs", new {id = ViewBag.ProgramId}, new {@class = "btn btn-secondary"})
                        <input type="submit" value="Add" class="btn btn-primary"/>
                    </div>
                }

            </div>
        </div>
    </div>
</div>





