@model IEnumerable<CECBTIMS.Models.cmn_WorkSpace>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkSpaceCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkSpaceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkSpaceTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessUnitId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Incharge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhysicalLocationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessUnitCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkSpaceAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelephoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaxNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeadOftheWorkSpace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountCodeGN4Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkSpaceAccountant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cmn_WorkSpace2.WorkSpaceCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WorkSpaceCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkSpaceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkSpaceTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessUnitId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Incharge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhysicalLocationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessUnitCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkSpaceAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelephoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaxNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeadOftheWorkSpace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountCodeGN4Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkSpaceAccountant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cmn_WorkSpace2.WorkSpaceCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WorkSpaceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WorkSpaceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WorkSpaceId })
        </td>
    </tr>
}

</table>
