@using CECBTIMS.Models.Enums
@model CECBTIMS.ViewModels.SelectConfirmViewModel

@{
    ViewBag.Title = "ColumnSelect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm(Html.BeginForm($"Create", $"Documents", null , FormMethod.Post)))
{
    <div class="col-9 mx-auto mb-lg-5">
        <div class="card border-primary mb-3">
            <div class="card-header">
                Selected Template : @Model.Template.Title
            </div>
            <div class="card-body">
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                @* Id,Title,Details,FileName,ProgramType,FileType,FileMethod,ProgramId,CreatedAt,UpdatedAt,CreatedBy,UpdatedBy,RowVersion *@
                @Html.AntiForgeryToken()
                <input type="hidden" name="templateId" value="@Model.Template.Id" />
                <input type="hidden" name="programId" value="@ViewBag.ProgramId" />
                
                <div class="form-group">
                    @Html.LabelFor(model => model.Document.Title, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Document.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Document.Title, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Document.Details, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Document.Details, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Document.Details, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Document.FileName, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Document.FileName, new { htmlAttributes = new { @class = "form-control" , @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Document.FileName, "", new { @class = "text-danger" })
                </div>                
                <div class="form-group">
                    @Html.LabelFor(model => model.Document.ProgramType, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Document.ProgramType, new { htmlAttributes = new { @class = "form-control" , @readonly = "readonly" }})
                    @Html.ValidationMessageFor(model => model.Document.ProgramType, "", new { @class = "text-danger" })
                </div>                
                <div class="form-group">
                    @Html.LabelFor(model => model.Document.ProgramId, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Document.ProgramId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Document.ProgramId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Document.DocumentNumber, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Document.DocumentNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Document.DocumentNumber, "", new { @class = "text-danger" })
                </div>

            </div>
        </div>
    </div>

    if (Model.Template.HasConfigurableTable)
    {
        <div class="col-9 mx-auto mb-lg-5">
        <div class="card border-primary mb-3">
        <div class="card-header">
            Column Selector
        </div>
        <div class="card-body">
        <h6 class="card-subtitle text-muted mb-4">The selected Template has a configurable Trainee information Table. You can Select the Table columns from the bellow option for proceed with the default columns.</h6>


        <div class="row">
        @* Default column No *@
        <input type="hidden" name="columns[]" value="@((int) @TableColumnName.No)"/>
        
        <div class="col-md-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="columns[]" value="@((int) @TableColumnName.Name)" id="Name"
                           @{
                               foreach (var item in Model.Template.DefaultColumns)
                               {
                                   if (item.ColumnName == TableColumnName.Name)
                                   {
                                       @("Checked")
                                   }
                               }
                           }>
                    <label class="custom-control-label" for="Name">@TableColumnName.Name</label>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="columns[]" value="@((int) @TableColumnName.Title)" id="Title"
                           @{
                               foreach (var item in Model.Template.DefaultColumns)
                               {
                                   if (item.ColumnName == TableColumnName.Title)
                                   {
                                       @("Checked")
                                   }
                               }
                           }>
                    <label class="custom-control-label" for="Title">@TableColumnName.Title</label>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="columns[]" value="@((int) @TableColumnName.Full_Name)" id="Full_Name"
                           @{
                               foreach (var item in Model.Template.DefaultColumns)
                               {
                                   if (item.ColumnName == TableColumnName.Full_Name)
                                   {
                                       @("Checked")
                                   }
                               }
                           }>
                    <label class="custom-control-label" for="Full_Name">@TableColumnName.Full_Name</label>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="columns[]" value="@((int) @TableColumnName.Name_With_Title)" id="Name_With_Title"
                           @{
                               foreach (var item in Model.Template.DefaultColumns)
                               {
                                   if (item.ColumnName == TableColumnName.Name_With_Title)
                                   {
                                       @("Checked")
                                   }
                               }
                           }>
                    <label class="custom-control-label" for="Name_With_Title">@TableColumnName.Name_With_Title</label>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="columns[]" value="@((int) @TableColumnName.Name_Designation_And_Grade)" id="Name_Designation_And_Grade"
                           @{
                               foreach (var item in Model.Template.DefaultColumns)
                               {
                                   if (item.ColumnName == TableColumnName.Name_Designation_And_Grade)
                                   {
                                       @("Checked")
                                   }
                               }
                           }>
                    <label class="custom-control-label" for="Name_Designation_And_Grade">Name Designation and Grade</label>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="columns[]" value="@((int) @TableColumnName.Nic)" id="Nic"
                           @{
                               foreach (var item in Model.Template.DefaultColumns)
                               {
                                   if (item.ColumnName == TableColumnName.Nic)
                                   {
                                       @("Checked")
                                   }
                               }
                           }>
                    <label class="custom-control-label" for="Nic">NIC</label>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="columns[]" value="@((int) @TableColumnName.Epf)" id="Epf"
                           @{
                               foreach (var item in Model.Template.DefaultColumns)
                               {
                                   if (item.ColumnName == TableColumnName.Epf)
                                   {
                                       @("Checked")
                                   }
                               }
                           }>
                    <label class="custom-control-label" for="Epf">EPF</label>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="columns[]" value="@((int) @TableColumnName.Designation)" id="Designation"
                           @{
                               foreach (var item in Model.Template.DefaultColumns)
                               {
                                   if (item.ColumnName == TableColumnName.Designation)
                                   {
                                       @("Checked")
                                   }
                               }
                           }>
                    <label class="custom-control-label" for="Designation">Designation</label>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="columns[]" value="@((int) @TableColumnName.Workspace_Name)" id="Workspace_Name"
                           @{
                               foreach (var item in Model.Template.DefaultColumns)
                               {
                                   if (item.ColumnName == TableColumnName.Workspace_Name)
                                   {
                                       @("Checked")
                                   }
                               }
                           }>
                    <label class="custom-control-label" for="Workspace_Name">Workspace Name</label>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="columns[]" value="@((int) @TableColumnName.Nature_Of_Appointment)" id="Nature_Of_Appointment"
                           @{
                               foreach (var item in Model.Template.DefaultColumns)
                               {
                                   if (item.ColumnName == TableColumnName.Nature_Of_Appointment)
                                   {
                                       @("Checked")
                                   }
                               }
                           }>
                    <label class="custom-control-label" for="Nature_Of_Appointment">Nature Of Appointment</label>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="columns[]" value="@((int) @TableColumnName.Recommendation)" id="DefaultColumns"
                           @{
                               foreach (var item in Model.Template.DefaultColumns)
                               {
                                   if (item.ColumnName == TableColumnName.Recommendation)
                                   {
                                       @("Checked")
                                   }
                               }
                           }>
                    <label class="custom-control-label" for="DefaultColumns">Recommendation</label>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="columns[]" value="@((int) @TableColumnName.Date_Of_Joined)" id="Date_of_Joined"
                           @{
                               foreach (var item in Model.Template.DefaultColumns)
                               {
                                   if (item.ColumnName == TableColumnName.Date_Of_Joined)
                                   {
                                       @("Checked")
                                   }
                               }
                           }>
                    <label class="custom-control-label" for="Date_of_Joined">Date of Joined</label>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="columns[]" value="@((int) @TableColumnName.Date_Of_Appointment)" id="Date_of_Appointment"
                           @{
                               foreach (var item in Model.Template.DefaultColumns)
                               {
                                   if (item.ColumnName == TableColumnName.Date_Of_Appointment)
                                   {
                                       @("Checked")
                                   }
                               }
                           }>
                    <label class="custom-control-label" for="Date_of_Appointment">Date of Appointment</label>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="columns[]" value="@((int) @TableColumnName.Experience_In_Cecb)" id="Experience_In_Cecb"
                           @{
                               foreach (var item in Model.Template.DefaultColumns)
                               {
                                   if (item.ColumnName == TableColumnName.Experience_In_Cecb)
                                   {
                                       @("Checked")
                                   }
                               }
                           }>
                    <label class="custom-control-label" for="Experience_In_Cecb">Experience In CECB</label>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="columns[]" value="@((int) @TableColumnName.Member_Non_Member)" id="Member_Non_Member"
                           @{
                               foreach (var item in Model.Template.DefaultColumns)
                               {
                                   if (item.ColumnName == TableColumnName.Member_Non_Member)
                                   {
                                       @("Checked")
                                   }
                               }
                           }>
                    <label class="custom-control-label" for="Member_Non_Member">Member / Non-Member</label>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="columns[]" value="@((int) @TableColumnName.Remarks)" id="Remarks"
                           @{
                               foreach (var item in Model.Template.DefaultColumns)
                               {
                                   if (item.ColumnName == TableColumnName.Remarks)
                                   {
                                       @("Checked")
                                   }
                               }
                           }>
                    <label class="custom-control-label" for="Remarks">Remarks</label>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="columns[]" value="@((int) @TableColumnName.Remarks_On_Relevancy_To_The_Program)" id="Remarks_On_Relevancy_To_The_Program"
                           @{
                               foreach (var item in Model.Template.DefaultColumns)
                               {
                                   if (item.ColumnName == TableColumnName.Remarks_On_Relevancy_To_The_Program)
                                   {
                                       @("Checked")
                                   }
                               }
                           }>
                    <label class="custom-control-label" for="Remarks_On_Relevancy_To_The_Program">Remarks On Relevancy To The Program</label>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="columns[]" value="@((int) @TableColumnName.Details_Of_Foreign_Training_Participated)" id="Details_Of_Foreign_Training_Participated"
                           @{
                               foreach (var item in Model.Template.DefaultColumns)
                               {
                                   if (item.ColumnName == TableColumnName.Details_Of_Foreign_Training_Participated)
                                   {
                                       @("Checked")
                                   }
                               }
                           }>
                    <label class="custom-control-label" for="Details_Of_Foreign_Training_Participated">Details Of Foreign Training Participated</label>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="columns[]" value="@((int) @TableColumnName.Details_Of_Foreign_Visits_Participated)" id="Details_Of_Foreign_Visits_Participated"
                           @{
                               foreach (var item in Model.Template.DefaultColumns)
                               {
                                   if (item.ColumnName == TableColumnName.Details_Of_Foreign_Visits_Participated)
                                   {
                                       @("Checked")
                                   }
                               }
                           }>
                    <label class="custom-control-label" for="Details_Of_Foreign_Visits_Participated">Details Of Foreign Visits Participated</label>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="columns[]" value="@((int) @TableColumnName.Email)" id="Email"
                           @{
                               foreach (var item in Model.Template.DefaultColumns)
                               {
                                   if (item.ColumnName == TableColumnName.Email)
                                   {
                                       @("Checked")
                                   }
                               }
                           }>
                    <label class="custom-control-label" for="Email">Email</label>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="columns[]" value="@((int) @TableColumnName.Contact_No)" id="Contact_No"
                           @{
                               foreach (var item in Model.Template.DefaultColumns)
                               {
                                   if (item.ColumnName == TableColumnName.Contact_No)
                                   {
                                       @("Checked")
                                   }
                               }
                           }>
                    <label class="custom-control-label" for="Contact_No">Contact No</label>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="columns[]" value="@((int) @TableColumnName.Passport_No)" id="Passport_No"
                           @{
                               foreach (var item in Model.Template.DefaultColumns)
                               {
                                   if (item.ColumnName == TableColumnName.Passport_No)
                                   {
                                       @("Checked")
                                   }
                               }
                           }>
                    <label class="custom-control-label" for="Passport_No">Passport No</label>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="columns[]" value="@((int) @TableColumnName.Date_Of_Service_Confirmation)" id="Date_of_Service_Confirmation"
                           @{
                               foreach (var item in Model.Template.DefaultColumns)
                               {
                                   if (item.ColumnName == TableColumnName.Date_Of_Service_Confirmation)
                                   {
                                       @("Checked")
                                   }
                               }
                           }>
                    <label class="custom-control-label" for="Date_of_Service_Confirmation">Date of Service Confirmation</label>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="columns[]" value="@((int) @TableColumnName.Incidental_Allowance)" id="Incidental_Allowance"
                           @{
                               foreach (var item in Model.Template.DefaultColumns)
                               {
                                   if (item.ColumnName == TableColumnName.Incidental_Allowance)
                                   {
                                       @("Checked")
                                   }
                               }
                           }>
                    <label class="custom-control-label" for="Incidental_Allowance">Incidental Allowance</label>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="columns[]" value="@((int) @TableColumnName.Warm_Cloth_Allowance)" id="Warm_Cloth_Allowance"
                           @{
                               foreach (var item in Model.Template.DefaultColumns)
                               {
                                   if (item.ColumnName == TableColumnName.Warm_Cloth_Allowance)
                                   {
                                       @("Checked")
                                   }
                               }
                           }>
                    <label class="custom-control-label" for="Warm_Cloth_Allowance">Warm Cloth Allowance</label>
                </div>
            </div>
        </div>

        </div>


        </div>
        </div>
        </div>
    }

    <div class="col-9 mx-auto text-center">
        <div class="form-group align-content-center">
            <input type="submit" value="Process" class="btn btn-primary"/>
        </div>
    </div>
}