@model CECBTIMS.Models.Document

@{
    ViewBag.Title = "Document Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-10 mx-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <div class="card">
                    <div class="card-body">
                        <a href="@Url.Action($"Index", $"Documents", new {programId = Model.ProgramId, employeeId = Model.EmployeeId})" class="btn btn-outline-secondary btn-block">
                            <span class="fa fa-arrow-left mr-sm-1" aria-hidden="true"></span>
                            Back
                        </a>
                        <a href="@Url.Action($"Details", $"Programs", new {id = Model.ProgramId})" class="btn btn-primary btn-block">
                            <span class="fa fa-file-archive-o mr-sm-1" aria-hidden="true"></span>
                            Program
                        </a>
                        <a href="@Url.Action($"Index", $"Documents", new {id = Model.Id})" class="btn btn-primary btn-block">
                            <span class="fa fa-download mr-sm-1" aria-hidden="true"></span>
                            Download
                        </a>
                        <a href="@Url.Action($"Edit", $"Documents", new {id = Model.Id})" class="btn btn-warning btn-block">
                            <span class="fa fa-pencil mr-sm-1" aria-hidden="true"></span>
                            Edit
                        </a>
                        <a href="@Url.Action($"Delete", $"Documents", new {id = Model.Id})" class="btn btn-danger btn-block">
                            <span class="fa fa-remove mr-sm-1" aria-hidden="true"></span>
                            Delete
                        </a>

                    </div>
                </div>

            </div>

            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        Document Details
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tr>
                                <th class="w-25">Program Title</th>
                                <td class="w-75">@Model.Program.Title</td>
                            </tr>
                            <tr>
                                <th class="w-25">Document Title</th>
                                <td class="w-75">@Model.Title</td>
                            </tr>
                            <tr>
                                <th class="w-25">Document Details</th>
                                <td class="w-75">@Model.Details</td>
                            </tr>
                            <tr>
                                <th class="w-25">File Name</th>
                                <td class="w-75">@Model.FileName</td>
                            </tr>
                            <tr>
                                <th class="w-25">File Type</th>
                                <td class="w-75">@Model.FileType</td>
                            </tr>
                            <tr>
                                <th class="w-25">Program Type</th>
                                <td class="w-75">@Model.ProgramType</td>
                            </tr>

                            <tr>
                                <th class="w-25">Created By</th>
                                <td class="w-75">@Model.CreatedBy</td>
                            </tr>
                            <tr>
                                <th class="w-25">Created At</th>
                                <td class="w-75">@Model.CreatedAt</td>
                            </tr>
                            <tr>
                                <th class="w-25">Updated By</th>
                                <td class="w-75">@Model.UpdatedBy</td>
                            </tr>
                            <tr>
                                <th class="w-25">Updated At</th>
                                <td class="w-75">@Model.UpdatedAt</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>