@model CECBTIMS.Models.Requirement

@{
    ViewBag.Title = "New Requirement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-8 mx-auto mb-lg-5">
    <div class="card border-primary mb-3">
        <div class="card-header">Add new Requirement for <b>@ViewBag.programTitle</b></div>
        <div class="card-body">
            <div class="container">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", Required = "required" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <input type="hidden" name="ProgramId" value="@ViewBag.ProgramId" />

                    <div class="form-group">
                        <div class="">
                            <input type="submit" value="Add" class="btn btn-primary" />
                            @Html.ActionLink("Back", $"Details", $"Programs", new { id = ViewBag.ProgramId }, new { @class = "btn btn-outline-primary" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
