@model CECBTIMS.Models.Organizer

@{
    ViewBag.Title = "Organiser Details";
}

<div class="col-9 mx-auto mb-1">
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="float-left">
                Organiser Details
            </h5>
            <div class="float-right">
                @Html.ActionLink("Delete", $"Delete", new{id=Model.Id}, new {@class = "btn btn-danger"})
                @Html.ActionLink("Back", $"Index", new{programId=ViewBag.ProgramId}, new {@class = "btn btn-outline-secondary"})
            </div>
        </div>
        <div class="card-body">
            <table class="table table-borderless">
                <tr>
                    <td class="w-25"></td>
                    <td class="w-25"></td>
                    <td class="w-25"></td>
                    <td class="w-25"></td>
                </tr>
                <tr>
                    <th colspan="1">Name</th>
                    <td colspan="3">@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <th colspan="1">Created by</th>
                    <td colspan="1">@Html.DisplayFor(model => model.CreatedBy)</td>
                    <th colspan="1">Created At</th>
                    <td colspan="1">@Html.DisplayFor(model => model.CreatedAt)</td>
                </tr>
                <tr>
                    <th colspan="1">Updated By</th>
                    <td colspan="1">@Html.DisplayFor(model => model.UpdatedBy)</td>
                    <th colspan="1">Updated By</th>
                    <td colspan="1">@Html.DisplayFor(model => model.UpdatedBy)</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="col-9 mx-auto mb-lg-5">
    <div class="card mb-3">
        <div class="card-header">
            Organised Programs
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th class="w-50">Title</th>
                    <th class="w-25">Start Date</th>
                    <th class="w-25">Venue</th>
                </tr>
                @foreach (var item in Model.Programs)
                {
                    <tr>
                        <td><a href="@("/Programs/details/"+item.Id)">@item.Title</a></td>
                        <td>@item.StartDate</td>
                        <td>@item.Venue</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>