@model IEnumerable<CECBTIMS.Models.Organizer>

@{
    ViewBag.Title = "Organisers Index";
}
<div class="col-9 mx-auto mb-lg-5">
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="float-left">
                Program Organisers
            </h5>
            <div class="float-right">
                @Html.ActionLink("Create New", $"Create",null,new{@class="btn btn-outline-primary"})
                @Html.ActionLink("Back", $"Details",$"Programs",new {id= ViewBag.ProgramId},new{@class="btn btn-outline-secondary"})
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th class="w-50">Name</th>
                    <th class="w-25">Created On</th>
                    <th class="w-25"></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td>
                            @if (ViewBag.ProgramId != null)
                            {
                                using (Html.BeginForm($"SelectOrg", $"Programs", null,
                                    FormMethod.Post, new {@class = "d-inline-block"}))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="orgId" value="@item.Id"/>
                                    <input type="hidden" name="programId" value="@ViewBag.ProgramId"/>
                                    <input type="submit" value="Select" class="btn btn-primary btn-sm d-inline-block"/>
                                }
                            }

                            @Html.ActionLink("Details", $"Details", new {id = item.Id}, new {@class = "btn btn-sm btn-primary"})
                            @Html.ActionLink("Edit", $"Edit", new {id = item.Id}, new {@class = "btn btn-sm btn-warning"})
                            @* @Html.ActionLink("Delete", $"Delete", new {id = item.Id}, new {@class = "btn btn-sm btn-danger"}) *@
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>