@* @model IEnumerable<CECBTIMS.Models.Organizer> *@

@model PagedList.IPagedList<CECBTIMS.Models.Organizer>
@using PagedList.EntityFramework;
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="col-8 mx-auto">
    <div class="card border-primary mb-3">
        <div class="card-header">Program Organisers</div>

        <div class="card-body">

            <div class="searchForm float-left">
                @* HTML Form For search Program *@
                @using (Html.BeginForm("Index", "Organizers", FormMethod.Get, new { @class = "form-inline mb-3" }))
                {
                    <div class="form-group mb-2">
                        <input type="text" readonly class="form-control-plaintext" value="Find by Title :" style="width:90px">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputPassword2" class="sr-only">Password</label>
                        @Html.TextBox("search", ViewBag.currentFilter as string, new { @class = "form-control", placeholder = "Search" })
                    </div>
                    <input type="submit" class="btn btn-secondary mr-sm-2 mb-2" value="Search" />

                    if (ViewBag.serachParam != null)
                    {
                        @Html.ActionLink("Clear", "Index", ViewBag.currentFilter as string, new { @class = "btn btn-primary mb-2" })
                    }

                }
            </div>

            <div class="tableEntryCount float-right">
                <input type="text" readonly class="form-control-plaintext" value="Show">
                <select class="entryCountSelect">
                    <option value="none" selected disabled hidden>
                        @ViewBag.entryCount
                    </option>
                    <option value="/Organizers?countPerPage=5&programId=@(ViewBag.ProgramId)">5</option>
                    <option value="/Organizers?countPerPage=10&programId=@(ViewBag.ProgramId)">10</option>
                    <option value="/Organizers?countPerPage=50&programId=@(ViewBag.ProgramId)">50</option>
                    <option value="/Organizers?countPerPage=100&programId=@(ViewBag.ProgramId)">100</option>
                </select>
                <input type="text" readonly class="form-control-plaintext" value="Entries">
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="max-width: 15%; min-width: 5%">#</th>
                        <th style="max-width: 50%">Name</th>
                        <th style="width: 25%">Created At</th>
                        <th style="width: 10%"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>10</td>
                            <td>
                                <a href="/Organizers/Details?id=@(item.Id)">@item.Name</a>
                            </td>
                            <td>@item.CreatedAt</td>
                            <td>
                                @* @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new {@class = "btn btn-warning btn-sm"}) *@
                                @* @Html.ActionLink("Delete", "Delete", new {id = item.Id}, new {@class = "btn btn-danger btn-sm"}) *@

                                @using (Html.BeginForm("Create", $"ProgramArrangements"))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="OrganizerId" value="@(item.Id)" />
                                    <input type="hidden" name="ProgramId" value="@(ViewBag.ProgramId)" />
                                    <input type="submit" value="Select" class="btn btn-primary" />
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
                new {page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, programId = ViewBag.ProgramId}))
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/scripts/site.js")
}