@model IEnumerable<CECBTIMS.Models.Template>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<div class="col-12 mx-auto mb-lg-5">
<div class="card border-primary mb-3">
<div class="card-header">
    <div class="float-left">
        <h5>Document Template Manager</h5>
    </div>
    <div class="float-right">
        @Html.ActionLink("Create New", "Create", null, new {@class = "btn btn-secondary"})
    </div>
</div>
    <div class="card-body">

        <table class="table table-bordered">
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Program Type
                </th>
                <th>
                    File Type
                </th>
                <th>
                    Original File Name
                </th>
                <th>
                    Has Configurable Table
                </th>
                <th>
                    Created At
                </th>
                <th></th>
            </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProgramType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginalFileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasConfigurableTable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new{@class="btn btn-warning btn-sm"})
                    @Html.ActionLink("Details", "Details", new {id = item.Id}, new { @class = "btn btn-secondary btn-sm" })
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id}, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
        </table>
        

    </div>
</div>
</div>