@model IEnumerable<CECBTIMS.Models.cmn_EmployeeVersion>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-10 mx-auto mb-5">

    <div class="card mb-4">
        <div class="card-header">Search Employees</div>
        <div class="card-body">

            <div class="col-10 mx-auto mb-5">
                <div class="container">

                    @using (Html.BeginForm($"Details", $"Employees", null,
                        FormMethod.Get, null))
                    {
                        <div class="form-group">
                            <label for="method">Search Method</label>
                            <select class="custom-select" id="method" name="method">
                                <option value="FullName">Full Name</option>
                                <option value="NIC">NIC Number</option>
                                <option value="EPFNo">EPF Number</option>
                            </select>
                        </div>

                        if (ViewBag.ProgramId != null)
                         {
                             <input type="hidden" name="programId" value="@(ViewBag.ProgramId)"/>
                         }

                        <div class="form-group">
                            <label for="qString">Search String</label>
                            <input type="text" name="q" id="qString" class="form-control" required="required"/>
                        </div>

                        <div class="form-group">
                            <div class="">
                                <input type="submit" value="Find" class="btn btn-primary"/>
                                @Html.ActionLink("Clear Results", $"Details", new {programId = ViewBag.ProgramId}, new {@class = "btn btn-outline-secondary"})
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    @if (Model != null)
    {
        <div class="card border-primary">
            <div class="card-header">Search Results</div>
            <div class="card-body">
                <div class="container">

                    @if (Model.Any())
                    {
                        <div class="alert alert-dismissible alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>@Model.Count() </strong>results Found.
                        </div>
                        
                        <table class="table table-bordered">
                            <tr>
                                <th>#</th>
                                <th>Full Name</th>
                                <th>Designation</th>
                                <th>Section</th>
                            </tr>
                            @{
                                int i = 1;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.Title @item.FullName</td>
                                        @if (item.hrm_Designation != null)
                                        {
                                            <td>@item.hrm_Designation.DesignationName</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                        @if (item.cmn_WorkSpace != null)
                                        { 
                                        <td>@item.cmn_WorkSpace.WorkSpaceName</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                        <td>
                                            @if (ViewBag.ProgramId != null)
                                            {

                                                using (Html.BeginForm($"Create", $"ProgramAssignments", null, FormMethod.Post, new{@class="d-inline"}))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="EmployeeId" value="@(item.EmployeeId)"/>
                                                    <input type="hidden" name="EmployeeVersionId" value="@(item.EmployeeVersionId)"/>
                                                    <input type="hidden" name="EPFNo" value="@(item.EPFNo)"/>
                                                    <input type="hidden" name="ProgramId" value="@(ViewBag.ProgramId)"/>
                                                    <input type="submit" value="Select" class="btn btn-primary btn-sm"/>
                                                }
                                            }

                                            @Html.ActionLink("Details", $"MoreDetails", new {id = item.EmployeeVersionId}, new {@class = "btn btn-sm btn-outline-secondary"})
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-dismissible alert-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <h4 class="alert-heading">Oops!</h4>
                            <p class="mb-0">No results Found.</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

</div>