@model IEnumerable<CECBTIMS.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EPFNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameWithInitial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkSpaceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesignationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeRecruitmentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfAppointment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfContract)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfficeEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrivateEmail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EPFNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameWithInitial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NIC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkSpaceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesignationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeRecruitmentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfAppointment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfContract)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfficeEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrivateEmail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeId })
        </td>
    </tr>
}

</table>
