@model IEnumerable<CECBTIMS.Models.cmn_EmployeeVersion>

@{
                /**/

                ViewBag.Title = "Program Assignments";
                Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-12 mx-auto mb-5">
    <div id="programContent">
        <div class="card">
            <div class="card-header">
                <h4 class="float-left">Selected Employees</h4>

                <div class="float-right" id="btn-group">
                    back to programs
                    @Html.ActionLink("Add Employees", $"Find", $"Employees", new {programId = ViewBag.program.Id}, new {@class = "btn btn-secondary"})
                </div>

            </div>
            <div class="card-body">
                <div>
                    <table class="table table-bordered mb-3">
                        <tr>
                            <th class="w-25">Program Title</th>
                            <th class="w-75">@ViewBag.program.Title</th>
                        </tr>
                    </table>
                    
                    <table class="table table-bordered">
                        <tr>
                            <th style="min-width: 5%; max-width: 10%">#</th>
                            <th style="min-width: 35%; max-width: 40%">Name</th>
                            <th style="width: 15%">Designation</th>
                            <th style="width: 25%">Workspace</th>
                            <th style="width: 15%"></th>
                        </tr>
                        @{
                            var i = 1;

                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@(i++)</td>
                                    <td>@Html.DisplayFor(model => item.FullName)</td>
                                    <td>@Html.DisplayFor(model => item.hrm_Designation.DesignationName)</td>
                                    <td>@Html.DisplayFor(model => item.cmn_WorkSpace.WorkSpaceName)</td>
                                    <td>
                                        @Html.ActionLink("Details", $"MoreDetails", $"Employees", new {id = item.EmployeeVersionId, rl = "/Employees?programId="+ViewBag.program.Id }, new {@class = "btn btn-secondary btn-sm d-inline-block"})

                                        @using (Html.BeginForm($"Delete", $"ProgramAssignments", null,
                                            FormMethod.Post, new {@class = "d-inline-block"}))
                                        {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="EmployeeVersionId" value="@item.EmployeeVersionId"/>
                                            <input type="hidden" name="programId" value="@ViewBag.program.Id"/>
                                            <input type="submit" value="Remove" class="btn btn-danger btn-sm d-inline-block"/>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>