@using CECBTIMS.Models.Enums
@model CECBTIMS.Models.cmn_EmployeeVersion

@{
    ViewBag.Title = "Employee Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var titleName = "";

    if (!string.IsNullOrEmpty(Model.Title))
    {
        titleName = int.TryParse(Model.Title, out var title) ? ((Title) title).ToString() : Model.Title;
    }
}


<div class="col-10 mx-auto mb-5">

    <div class="card mb-4">
        <div class="card-header">
            <h4 class="float-left">Employee Details</h4>
            <div class="float-right">

                @if (ViewBag.ProgramId != null)
                {
                    using (Html.BeginForm($"Create", $"ProgramAssignments", null, FormMethod.Post, new {@class = "d-inline"}))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="EmployeeId" value="@(Model.EmployeeId)"/>
                        <input type="hidden" name="EmployeeVersionId" value="@(Model.EmployeeVersionId)"/>
                        <input type="hidden" name="EPFNo" value="@(Model.EPFNo)"/>
                        <input type="hidden" name="ProgramId" value="@(ViewBag.ProgramId)"/>
                        <input type="submit" value="Select" class="btn btn-primary"/>
                    }
                }
                <a href="@(ViewBag.rl)" class="btn btn-outline-secondary">Back</a>
            </div>
        </div>
        <div class="card-body">
            <div class="col-12 mx-auto mb-5">
                <div class="container">

                    <table class="table table-bordered">
                        <tr>
                            <th colspan="2">Name</th>
                            <td colspan="8">
                                @(titleName). @Html.DisplayFor(model => model.FullName)
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">NIC</th>
                            <td colspan="3">@Html.DisplayFor(model => model.NIC)</td>
                            <th colspan="2">EPF No</th>
                            <td colspan="3">@Html.DisplayFor(model => model.EPFNo)</td>
                        </tr>
                        <tr>
                            <th colspan="2">Date Of Birth</th>
                            <td colspan="8">@Html.DisplayFor(model => model.DateOfBirth)</td>
                        </tr>
                        <tr>
                            <th colspan="2">Contact Address</th>
                            <td colspan="8">@Html.DisplayFor(model => model.ContactAddress)</td>
                        </tr>
                        <tr>
                            <th colspan="2">Home Address</th>
                            <td colspan="8">@Html.DisplayFor(model => model.HomeAddress)</td>
                        </tr>
                        <tr>
                            <th colspan="2">Mobile</th>
                            <td colspan="3">@Html.DisplayFor(model => model.MobileNumber)</td>
                            <th colspan="2">Phone</th>
                            <td colspan="3">@Html.DisplayFor(model => model.LandphoneNumber)</td>
                        </tr>
                        <tr>
                            <th colspan="2">Private Email</th>
                            <td colspan="8">@Html.DisplayFor(model => model.PrivateEmail)</td>
                        </tr>
                        <tr>
                            <th colspan="2">Office Email 1</th>
                            <td colspan="3">@Html.DisplayFor(model => model.OfficeEmail)</td>
                            <th colspan="2">Office Email 2</th>
                            <td colspan="3">@Html.DisplayFor(model => model.OfficeEmail2)</td>
                        </tr>
                        <tr>
                            <th colspan="2">Date of Appointment</th>
                            <td colspan="3">@Html.DisplayFor(model => model.DateOfAppointment)</td>
                            <th colspan="2">Recruitment Type</th>
                            <td colspan="3">
                                @{
                                    var RType = "";

                                    if (!string.IsNullOrEmpty(Model.EmployeeRecruitmentType))
                                    {
                                        RType = int.TryParse(Model.EmployeeRecruitmentType, out var type) ? ((RecruitmentType) type).ToString() : Model.EmployeeRecruitmentType;
                                    }
                                }
                                @RType
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">Contract Type</th>
                            <td colspan="8">
                                @{
                                    var CType = "";

                                    if (!string.IsNullOrEmpty(Model.TypeOfContract))
                                    {
                                        CType = int.TryParse(Model.TypeOfContract, out var type) ? ((ContractType) type).ToString() : Model.TypeOfContract;
                                    }
                                }
                                @CType
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">Employee Code</th>
                            <td colspan="3">@Html.DisplayFor(model => model.cmn_Employee.EmployeeCode)</td>
                            <th colspan="2">Work Space Code</th>
                            <td colspan="3">@Html.DisplayFor(model => model.cmn_WorkSpace.WorkSpaceCode)</td>
                        </tr>
                        <tr>
                            <th colspan="2">Designation Name</th>
                            <td colspan="3"> @Html.DisplayFor(model => model.hrm_Designation.DesignationName)</td>
                            <th colspan="2">Designation Category Name</th>
                            <td colspan="3">@Html.DisplayFor(model => model.hrm_DesignationCategory.DesignationCategoryName)</td>
                        </tr>
                        <tr>
                            <th colspan="2">Grade Name</th>
                            <td colspan="8">@Html.DisplayFor(model => model.hrm_Grade.GradeName)</td>
                        </tr>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>